REACT_APP_BACKEND=http://127.0.0.1:3081
REACT_APP_KEYCLOAK_REALM=realm_name
REACT_APP_KEYCLOAK_URL=https://sample.keycloak.com/auth
REACT_APP_KEYCLOAK_CLIENTID=keycloak_client
REACT_APP_SSO_REDIRECT_URI=http://localhost:3000
REACT_APP_SITEMINDER_LOGOUT=https://logon7.gov.bc.ca/clp-cgi/logoff.cgi
